{% extends "layout.html" %}

{% block head %}

<title>Sobre - Lemuel</title>

{% endblock %}

{% block content %}

<div id="wrapper">
    <img src="https://avatars0.githubusercontent.com/u/55895642?s=460&u=23d04221f1435a5fcd494b20ebdeca20ce24b46a&v=4"
        alt="Lemuel">
    <h1>Lemuel Coelho Zara</h1>
    <h2>Graduando em ADS</h2>
    <p>Um cara curioso em conhecer novas <a href="#">tecnologias!</a></p>
</div>

<div class="links social">
    <a href="/">GitHub</a>
    <a href="/">Facebook</a>
    <a href="/">Linkedln</a>
</div>

{% endblock %}