{% extends "layout.njk" %}

{% block head %}
    <title>Editar</title>
{% endblock head %}

{% block content %}
    <div class="card">
        <section class="avatar"></section>

        <section class="details">
            <form action="/student?_method=PUT" method="POST">
                <h3>Editar Estudante</h3>

                {% include 'student/fields.njk' %}

                <input type="hidden" name="id" value="{{student.id}}">
            </form>

            <form method="POST" action="/student?_method=DELETE">
                <input type="hidden" name="id" value="{{student.id}}">
                <button type="submit">Deletar</button>
            </form>
        </section>
    </div>
    {% include 'confirm.njk' %}
    <script type="text/javascript">
        const avatar = document.querySelector('.avatar')
        const avatar_url = {{ student.avatar_url | dump | safe }}

        avatar.style.background = `url(${avatar_url}) no-repeat center center / cover`
    </script>
{% endblock content %}