{% extends "layout.njk" %}

{% block head %}
    <title>Editar</title>
{% endblock head %}

{% block content %}
    <form class="card" method="POST" action="/teacher">
        <section class="avatar"></section>
        <section class="details">
            
            {% include 'teacher/fields.njk' %}

        </section>
    </form>
    <script type="text/javascript">
        const avatar = document.querySelector('.avatar')
        const avatar_url = {{ teacher.avatar_url | dump | safe }}

        avatar.style.background = `url(${avatar_url}) no-repeat center center / cover`
    </script>
{% endblock content %}