{% extends "layout.njk" %}

{% block head %}
    <title>Teacher</title>
{% endblock head %}

{% block content %}
    <div class="card">
        <section class="avatar"></section>
        <section class="details">
            <div class="item">
                <div>Nome completo</div>
                <div>José da Silva</div>
            </div>
            <div class="item">
                <div>Idade</div>
                <div>43</div>
            </div>
            <div class="item">
                <div>Grau de escolaridade</div>
                <div>Mestre</div>
            </div>
            <div class="item">
                <div>Tipo de aula</div>
                <div>Presencial</div>
            </div>
            <div class="item">
                <div>Acompanhamento</div>
                <div>Matemática e Física</div>
            </div>
            <div class="item">
                <div>Desde</div>
                <div>16 de fevereiro de 2016</div>
            </div>
        </section>
    </div>
{% endblock content %}